<div class="content">
  <div class="container">
    <%= link_to content_tag(:i, (), class: 'fa fa-arrow-left') + ' Back', project_path(@team.projects.first), class: 'btn btn-blue' %>
    <h1><%= @team.name %> Dashboard</h1>
    <div class="pure-g">
      <div class="pure-u-md-1-2">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Team Members</h3>
          </div>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Role</th>
            </thead>
            <tbody>
              <% @team.users.each do |u| %>
                <tr>
                  <td>
                    <%= u.email %>
                  </td>
                  <td>
                    <%= @team.roles.joins(:users).where(users: { id: u }).first.name %>
                    <%# @team.user_in_teams.find_by(team_id: @team.id, user_id: u).role.name %>
                    <%# u.user_in_teams.where(team_id: @team.id, user_id: u).first.role.name %>
                    <%# WTF!!!!! %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="panel-footer">
            <%= link_to (content_tag :span, (), class: 'fa fa-plus fa-fw') + ' Add Team', '#', class: 'btn btn-sm btn-green', title: 'Add'  %>
          </div>
        </div>

        <div class="pure-g">
          <div class="pure-u-md-1-2">
            <%= link_to (content_tag :span, (), class: 'fa fa-users fa-fw') + ' Start Daily Standup', '#', class: 'btn btn-green btn-full-width'  %>
            <%= link_to (content_tag :span, (), class: 'fa fa-eye fa-fw') + ' View Daily Standups', '#', class: 'btn btn-blue btn-full-width'  %>
            <%= link_to (content_tag :span, (), class: 'fa fa-users fa-fw') + ' Start Retrospective Meeting', '#', class: 'btn btn-green btn-full-width'  %>
          </div>
          <div class="pure-u-md-1-2">
            <div class="days-left">
              <span class="number">9</span>
              <span class="text">Days Left</span>
            </div>
          </div>
        </div>

      </div>

      <div class="pure-u-md-1-2">
        <div class="panel panel-default graph">
          <div class="panel-heading">
            <h3>Monthy Stats</h3>
          </div>
          <div class="panel-body">
            <img src="https://image-cc.s3.envato.com/files/73594691/pre_590.jpg" />
          </div>
          <div class="panel-footer">
          </div>
      </div>
    </div>
  </div>
</div>
